body {
    font-family: 'Trebuchet MS';
    background-image: url(images/download\ \(99\).jpg);
    background-size: cover;
    text-align: center;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

#start {
    background-color: yellow;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}